@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(2 132 199 );
  --negro: #262626;
  --blanco: #FFF;
}

body {
  font-family: Nunito, sans-serif;
}

  [class*="heading"] {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    color: rgb(2 132 199 );
  }
  
  @media (max-width: 600px) {
    [class*="heading"]{
      font-size: 3rem;
    }
  }


  .paginainst {
    background-color: #FFC72C;
    color: #1F4592;
    border-radius: 10px;
  }

  .cosoAmarillo {
    background-color: #FFC72C;
    border-radius: 10px;
    
  }

  .textoAmarillo {
    font-size: 35px;
    text-align: start;
    font-weight: 700;
    color: #0033a0;
  }

  .textoAmarillo2 {
    font-size: 25px;
    font-weight: 700;
    color: #0033a0;
  }

  .botonRojo{
    background-color: rgb( 243, 4, 55); 
  }

  .footer {
    background-color: #002D7C;
  }

  .textoFooter {
    font-size: 30px;
    text-align: left;
    color: #c1c1c1;
    font-weight: 700;
  }

  .cajonFooter {
    font-size: 20px;
    text-align: left;
    color: #9a9a9a;
    font-weight: 500;
  }

  .tituloBanco {
    font-weight: 700;
  }

  .fondoAmarillo{
    background-color: #FFC72C;
  }

  .cosoAzul {
    font-weight: 700;
    font-size: 1.2rem;
    color: #002D7C;
  }

   .cosoAzul2 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #002D7C;
  }

  .botonFinal {
    margin-bottom: 100%;
  }

  .textoGris {
    background-color: #cdcdcd;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }

  .inputExpiracion {
    background-color: #F9FAFB;
    padding: 10px;
    border-radius: 10px;
  }
  
  .cancelarTransaccion{
    color: black;
  }